<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <h3>Enter Vehicle Data from Claims Center</h3>
      <form (ngSubmit)="onSubmit()" #vehicleForm="ngForm">
        <div class="form-group">
          <label for="makes">vehicleMake</label>
          <select class="form-control" id="makes" required [(ngModel)]="model.make" name="make">
            <option *ngFor="let make of makes" [value]="make">{{make}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="vehicleModel">vehicleModel</label>
          <input type="text" class="form-control" id="vehicleModel" required [(ngModel)]="model.vehicleModel" name="vehicleModel">
        </div>

        <div class="form-group">
          <label for="year">vehicleYear</label>
          <input type="text" class="form-control" id="year" required [(ngModel)]="model.year" name="year">
        </div>
        Click green button to find the car image for: <br />
        {{model.make}} {{model.vehicleModel}} {{model.year}}
        <br /><br />
        <button (click)="startFuelApiCall()" type="submit" class="btn btn-success">Show Me Da Image</button>
      </form>
    </div>
    <div class="col-sm-7">
      <div *ngIf="showError" style="margin-top: 40px;"><h1 style="color: red;">There was an error in your request</h1></div>
      <img *ngIf="!showError" [src]="imageUrl" />
    </div>
  </div>
</div>
